body {
  background: #cc95c0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7aa1d2,
    #dbd4b4,
    #cc95c0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7aa1d2,
    #dbd4b4,
    #cc95c0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto auto;
}

.character {
  /* background: #fff; */
  width: 350px;
  height: 450px;
  /* border: 5px solid #000; */
  position: relative;
  margin: auto auto;
  /* padding: 20px; */
}
.face {
  top: 30px;
  margin-top: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 200px;
  background: #fff;
  border: 5px solid #000;
  /* border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
  border-top-left-radius: 46% 50%;
  border-top-right-radius: 46% 50%;

  border-bottom-left-radius: 38% 52%;
  border-bottom-right-radius: 38% 52%;
  z-index: 3;
}

.face2 {
  top: 30px;
  left: 40px;
  content: "";
  position: absolute;
  width: 260px;
  height: 200px;
  background: transparent;
  border: 5px solid #000;
  border-top-left-radius: 46% 50%;
  border-top-right-radius: 46% 50%;

  border-bottom-left-radius: 38% 52%;
  border-bottom-right-radius: 38% 52%;
  z-index: 5;
}

.ears {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  margin-top: -12px;
  position: absolute;
  top: 50px;
  z-index: 1;
}

.left-ear,
.right-ear {
  position: relative;
  border: 5px solid #000;
  background: #fff;
  top: -20px;
  width: 90px;
  height: 80px;
  border-radius: 20px;
}

.left-ear {
  left: -20px;
  border-bottom-left-radius: 80px;
  transform: rotate(30deg);
  z-index: 1;
}

.right-ear {
  left: 10px;
  border-bottom-right-radius: 80px;
  transform: rotate(-30deg);
  z-index: 1;
}

.monkey {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  top: 30px;
  left: 60px;
  /* left: 150px; */
  transform: rotate(30deg);
  z-index: 11;
}

.circle {
  position: absolute;
  left: 150px;
  width: 40px;
  height: 40px;
  border: 5px solid #000;
  border-radius: 50%;
  background: #e60e63;
  z-index: 12;
}

.half-round1 {
  content: "";
  position: absolute;
  left: 100px;
  width: 65px;
  height: 70px;
  border: 5px solid #000;
  background: #e60e63;
  border-top-left-radius: 50% 60%;
  border-bottom-left-radius: 50% 60%;

  border-top-right-radius: 100% 70%;
  border-bottom-right-radius: 100% 70%;
  z-index: 10;
}

.half-round2 {
  content: "";
  position: absolute;
  left: 180px;
  width: 65px;
  height: 70px;
  border: 5px solid #000;
  background: #e60e63;
  border-top-left-radius: 100% 70%;
  border-bottom-left-radius: 100% 70%;

  border-top-right-radius: 50% 60%;
  border-bottom-right-radius: 50% 60%;
  z-index: 10;
}

.half-small-round1 {
  position: absolute;
  /* top: 5px; */
  left: 135px;
  width: 25px;
  height: 20px;
  border: 3px solid #000;
  background: #e60e63;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  /* border-bottom-right-radius: 100px; */
  z-index: 11;
}

.half-small-round2 {
  position: absolute;
  /* top: 5px; */
  left: 185px;
  width: 25px;
  height: 20px;
  border: 3px solid #000;
  border-radius: 50%;
  background: #e60e63;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 11;
}

.eyes {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 25px;
  margin-top: 50px;
  position: relative;
  top: 65px;
}

.left-eye,
.right-eye {
  background: #000;
  width: 18px;
  height: 100%;
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;

  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%;
}

.container-nose {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: 65px;
}

.nose {
  border: 3px solid #000;
  width: 25px;
  height: 15px;
  border-top-left-radius: 40% 50%;
  border-top-right-radius: 40% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  background: hsl(61, 98%, 53%);
}

.whiskers {
  position: absolute;
  top: 135px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 80px;
}

.left-whiskers,
.right-whiskers {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.first-mustache,
.second-mustache,
.third-mustache {
  width: 55px;
  height: 14px;
  background: #000;
  position: relative;
  border-radius: 50%;
  z-index: 4;
}

.first-mustache::after,
.second-mustache::after,
.third-mustache::after {
  position: absolute;
  content: "";
  width: 52px;
  height: 12px;
  /* background: #fff; */
  border-radius: 50%;
  top: 4px;
  left: 1px;

  /* background: #f54a99; */
  /* background: linear-gradient(rgb(245, 74, 153) 0% 55%, rgb(255, 255, 255) 68%); */
}

.left-whiskers .first-mustache::after,
.left-whiskers .second-mustache::after {
  background: linear-gradient(to right, #c5c8bb, #fff);
}

.left-whiskers .third-mustache::after {
  background: linear-gradient(
    90deg,
    #c5c8bb,
    #c5c8bb 50%,
    rgb(255, 255, 255) 90%
  );
}

.right-whiskers .first-mustache::after,
.right-whiskers .second-mustache::after,
.right-whiskers .third-mustache::after {
  background: linear-gradient(to right, #fff, #d3a2c8);
}

.left-whiskers .first-mustache {
  transform: rotate(8deg);
  left: 4px;
}
.right-whiskers .first-mustache {
  transform: rotate(-8deg);
  left: -4px;
}

.left-whiskers .second-mustache {
  left: 5px;
  transform: rotate(-3deg);
}
.right-whiskers .second-mustache {
  left: -5px;
  transform: rotate(3deg);
}

.left-whiskers .third-mustache {
  transform: rotate(-15deg);
  left: 18px;
}
.right-whiskers .third-mustache {
  transform: rotate(15deg);
  left: -18px;
}

.body {
  top: 30px;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.neck {
  position: absolute;
  top: 0px;
  width: 65px;
  height: 30px;
  border: 5px solid #000;
  border-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  background: #f54a99;
  z-index: 3;
}

.t-shirt {
  position: absolute;
  width: 185px;
  height: 160px;
  border: 5px solid #000;
  border-top: 0;
  top: -6px;
  background: #e60e63;
  border-top-left-radius: 25% 50%;
  border-top-right-radius: 25% 50%;
  border-bottom-left-radius: 30% 22%;
  border-bottom-right-radius: 30% 25%;
  border-bottom: 0;
  z-index: 2;
}

.arms {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.left-arm,
.right-arm {
  border: 5px solid #000;
  background: #f54a99;
  background: linear-gradient(rgb(245, 74, 153) 0% 55%, rgb(255, 255, 255) 68%);
  width: 60px;
  height: 120px;
  border-radius: 50%;
  top: -15px;
  position: relative;
  z-index: 1;
}

.left-arm {
  transform: rotate(35deg);
}

.right-arm {
  transform: rotate(-35deg);
}

.left-arm::before,
.right-arm::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 15px;
  border-top: 5px solid #000;
  top: 70px;
}

.feet {
  position: relative;
  height: 55px;
  display: flex;
  justify-content: center;
}

.left-foot,
.right-foot {
  border: 5px solid #000;
  background: #ffffff;
  width: 87.5px;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 20% 50%;
  position: relative;
  z-index: 4;
}

.right-foot {
  border-bottom-left-radius: 20% 50%;
  border-bottom-right-radius: 50% 50%;
}
